/* You can override the default Infima variables here. */
:root {
    --hero-gradient-start: #d3e4ff;
    --hero-gradient-end: #ffffff;
    --text-color: #000000;
    --button-bg: rgb(0, 25, 104);
    --button-hover-bg: rgb(0, 40, 140);
    --button-text: white;
}

[data-theme='dark'] {
    /* Dark theme custom variables */
    --hero-gradient-start: #001133;
    --hero-gradient-end: #000520;
    --text-color: #ffffff;
    --button-bg: rgb(51, 102, 255);
    --button-hover-bg: rgb(77, 121, 255);
    --button-text: white;
}

/* Hero Section */
.hero-div {
    background: linear-gradient(to bottom, var(--hero-gradient-start), var(--hero-gradient-end));
    padding: 80px 0;
    text-align: center;
}

.hero-text-div {
    padding: 80px 0px 24px;
}

.hero-header {
    font-size: 80px;
    font-weight: 600;
    margin: 0;
    color: var(--text-color);
}

.hero-paragraph {
    font-size: 18px;
    font-weight: 400;
    padding: 25px 0px 3px;
    color: var(--text-color);
}

.hero-button-container {
    padding: 1px;
    text-align: center;
}

.hero-button-container a {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 11px 40px;
    font-weight: 700;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.hero-button-container a:hover {
    background-color: var(--button-hover-bg);
}